*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:darkgrey;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 30%;
    width: 100%;
    text-align: center;
}
#novasTarefas{
    padding: 1rem;
}
.statusTarefa{
    display: flex;
    justify-content: space-around;
}
#nenhumaTarefa{
    text-align: center;

}
.tarefas{
    display: flex;
    align-items: center;
    height: 60%;
    width: 100%;
    justify-content: center;
}
#tarefas{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.concluida{
    text-decoration: line-through;
    color: gray;
    opacity: 0.7;
}
